{% extends "orders/base.html" %}
{% load toppings_info %}
{% block title %}Pizza Houzze{% endblock %}

{% block main %}

<main class="container-fluid disabled" style="position: fixed;">
<div class="row">
  <div class="col-8" id="extra_nav">
    <div>
      <h4 class="text-center">Hello and welcome, dear {% if user == 'none' %}Guest{% else %} {{user.username}}{% endif %}!</h4>
      <h5 class="text-center">How would you like to feast today?</h5>
    </div>
  </div>
  <div class="col-4">
    <div>
      <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand p-2" id="order_header">Shopping cart</span>
      </nav>
    </div>
  </div>
</div>


    <div class="row">
        <div id="scrl" class="col-8" style="overflow: scroll;">
        <table class="table table-bordered table-hover" style="width:90%;">
          {% for key, pza in allpizza.items %}
          <tr>
            <th id='{{ key|cut:" " }}' scope="col" class="text-center bg-info" colspan="3">{{ key }}</th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">Small</th>
            <th scope="col">Large</th>
          </tr>
            {% for piz in pza %}
            <tr>
              <td>
                {% if key == 'Regular Pizza' or key == 'Sicilian Pizza' or piz.name == 'Steak + Cheese' %}
                <div class="d-flex justify-content-between">{{piz.name}}
                  <button type="button" data-item_info="{{piz.comments}}" class="btn_info badge badge-success badge-pill">Info</button>
                </div>
                {% else %}
                  {{piz.name}}
                {% endif %}
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  {% if piz.priceSmall != 0 %}
                  {{piz.priceSmall}}
                  <button type="button" data-item_pk="{{piz.pk}}" data-item_size="1" data-item_price="{{piz.priceSmall}}" class="btn_add badge badge-primary badge-pill">Add</button>
                  {% endif %}
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-between">{{piz.priceLarge}}
                  <button type="button" data-item_pk="{{piz.pk}}" data-item_size="2"  data-item_price="{{piz.priceLarge}}" class="btn_add badge badge-primary badge-pill">Add</button>
                </div>
              </td>
            </tr>
            {% endfor %}
          {% endfor%}

          {% for key, s_p in salads_pasta.items %}
          <tr>
            <th id='{{ key|cut:" " }}' scope="col" class="text-center bg-info" colspan="3">{{ key }}</th>
          </tr>
            {% for sal_pas in s_p %}
            <tr>
              <td colspan="2">{{sal_pas.name}}</td>
              <td>
                <div class="d-flex justify-content-between">{{sal_pas.priceSmall}}
                  <button type="button" data-item_pk="{{sal_pas.pk}}" data-item_size="3" data-item_price="{{sal_pas.priceSmall}}" class="btn_add badge badge-primary badge-pill">Add</button>
                </div>
              </td>
            </tr>
            {% endfor %}
          {% endfor%}
        </table>
      </div>

      <div class="col-4" id="order_list">
        <table class="table table-sm" id="order_t">
          <tr class="text-center">
            <th id="total" class="h2" colspan="2">
              {% if total %}
                Total: ${{ total }}
              {% else %}
                Cart is empty
              {% endif %}
             </th>
             <th>
               <button type="button" data-order_id="{{order.order_id}}" data-user_id="{{user.id}}" id="checkout" name="checkout" class="btn btn-success">Checkout</button>
             </th>
          </tr>

        {% if current_order_list %}
          {% for item in current_order_list  %}
          <tr id="item-{{ item.pk }}" class="item_block">
            <td>
              <button type="button" class="close delete_item" data-item_id="{{ item.pk }}"  data-order_id = "{{item.order_id.order_id}}">
                <span title="Delete an item">&times;</span>
              </button>
            </td>

            <td id = '{{item.pk}}' data-order_item='{{item.pk}}'>
              {{item.itemSize.sizeName}} {{item.item.itemtype.name}} "{{item.item.name}}"

              {% with ''|center:item.item.has_extra_toppings as range %}
                {% for _ in range %}
                  {% toppings_pk item.pk forloop.counter0 as topping_value %}
                  <select id="i-{{item.pk}}-{{ forloop.counter0 }}" class="topings" data-previos="0">

                    {% if item.item.itemtype.name != 'Subs' %}
                    <option value="null" disabled>Choose toppings</option>
                    {% else %}
                    <option value="null">Choose toppings</option>
                    {% endif %}
                    {% if item.item.itemtype.name == 'Subs' and item.item.name != 'Steak + Cheese'%}
                      {% for top in subs_toppings %}
                        <option value="{{ top.pk }}">{{ top.name}} + {{top.price}}</option>
                      {% endfor%}
                    {% elif item.item.name == 'Steak + Cheese'%}
                      {% for top in steak_and_cheese %}
                        <option value="{{ top.pk }}">{{ top.name}} + {{top.price}}</option>
                      {% endfor%}
                    {% else %}
                      {% for top in pizza_toppings %}
                        <option value="{{ top.pk }}">{{ top.name}}</option>
                      {% endfor%}
                    {% endif%}
                  </select>
                  {% if topping_value %}
                    <script>
                      document.getElementById('i-{{item.pk}}-{{ forloop.counter0 }}').value = {{topping_value}};
                    </script>
                  {% endif %}

                {% endfor %}
              {% endwith %}
              <script>
                disable_doubles(document.getElementById('{{item.pk}}'), 0);
              </script>
            </td>
            <td id="price{{item.pk}}">${{item.totall_price}}</td>
          </tr>
          {% endfor %}
        {% endif %}

        </table>

      </div>
  </div>
</main>

<!-- INFO MODAL -->

<div class="modal fade" id="pizza_info_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_label">Your pizza info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p id="pizza_info_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- INFO MODAL END -->

<script type="text/javascript">
  var user_id = {{ user.id }};
  var url_add_to_cart = "{% url 'add_to_cart' %}";
  var remove_item_from_cart = "{% url 'remove_item_from_cart' %}";
  var add_topings = "{% url 'add_topings' %}";

</script>
{% endblock %}
